{{#link-to "contact.create"}}Add Contact{{/link-to}}

{{#each model as |contact|}}
  <li>{{contact.firstName}} {{contact.lastName}}

  <button {{action "deleteContact" contact}}>Delete</button>
  </li>
{{/each}}
